* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.center {
    display: flex;
    align-items: center;
}

.auto__padding {
    padding-left: calc(50% - 1140px / 2);
    padding-right: calc(50% - 1140px / 2);
}

.header {
    height: 75px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    gap: 41px;
}

.header__right {
    display: flex;
    gap: 33px;
}

.home {
    height: 764px;
    background-color: #F1E4E6;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.home__text {
    width: calc(377px + 16px + 12px);
    margin-bottom: 381px;
    padding-right: 100px;
    padding-left: 16px;
    border-left: #F16D7F 12px solid;
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home__title {
    font-size: 48px;
    font-weight: 900;
}

.pink {
    color: #F16D7F;
}

.offer {
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    gap: 30px;
}

.offer__item {
    width: 360px;
    height: 260px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accesories {
    height: 180px;
    width: 1140px;
    grid-column: 1 / -1;
}

.accesories img:nth-child(2) {
    display: none;
}

.offer__item__text {
    position: absolute;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    z-index: 2;
}

.offer__item__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tonner {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(33, 22, 22, 0.70);
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__grid {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 581px);
    gap: 30px;
}

.product__header {
    text-align: center;
    margin-bottom: 48px;
}

.product__header__title {
    padding-bottom: 6px;
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__header__text {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__item {
    background-color: #F8F8F8;
}

.product__item__img {
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pink__back {
    background-color: #F7E4E2;
}

.product__item__content {
    padding: 24px 16px;
}

.product__item__title {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__item__text {
    padding: 16px 0;
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.product__item__price {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__footer {
    margin-top: 48px;
    margin-bottom: 60px;
    width: 212px;
    height: 48px;
    border: 2px #F26376 solid;
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .auto__padding {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .offer {
        grid-template-columns: repeat(3, calc((100% - 40px) / 3));
        grid-template-rows: repeat(2, auto);
        gap: 20px;
    }

    .offer__item {
        width: 100%;
        height: auto;
    }
    
    .offer__item img {
        width: 100%;
    }

    .accesories {
        width: 100%;
        height: auto;
    }

    .product {
        padding-left: 16px;
        padding-right: 16px;
    }

    .product__grid {
        display: grid;
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3, 581px);
        gap: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .home {
        height: 368px;
        align-items: center;
        padding: 0;
    }

    .home__image {
        width: 50%;
        padding-top: 10px;
        text-align: center;
    }

    .home__image img {
        height: 358px;
    }

    .home__text {
        width: 50%;
        padding-right: 0;
        margin: 0;
        font-size: 24px;
    }

    .home__title {
        font-size: 44px;
    }

    .offer {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .auto__padding {
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header__right a:nth-child(2) {
        display: none;
    }

    .header__right a:nth-child(3) {
        display: none;
    }

    .home {
        justify-content: center;
        height: auto;
    }
    
    .home__image {
        display: none;
    }

    .home__text {
        width: auto;
        margin-top: 150px;
        margin-bottom: 150px;
        padding-left: 12px;
        padding-right: 0;
        border-left: #F16D7F 12px solid;
        font-size: 20px;
    }

    .home__title {
        font-size: 38px;
    }
    
    .offer {
        padding-bottom: 0;
        padding-left: 16px;
        padding-right: 16px;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        gap: 32px;
    }

    .accesories img:nth-child(1) {
        display: none;
    }

    .accesories img:nth-child(2) {
        display: block;
    }

    .product {
        padding-left: 8px;
        padding-right: 8px;
    }

    .product__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        gap: 16px;
    }

    .product__item {
        max-width: 360px;
    }

    .product__header {
        padding: 65px 30px;
        margin-bottom: 0;
    }

    .product__item__img {
        width: 100%;
        height: auto;
    }

    .product__item__content {
        padding: 20px 16px;
    }

    .product__footer {
        margin-top: 40px;
        margin-bottom: 85px;
    }
}